#parent {
  display: flex;
  text-align: center;
}
#narrow {
  width: 50%;
  background: lightblue;
  /* Just so it's visible */
}
#wide {
  flex: 1;
  /* Grow to rest of container */
  background: lightgreen;
  /* Just so it's visible */
}
